<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>NYC Airbnb Analysis</title>  
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style1.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/path/to/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

</head>


<body>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!--NavBar-->
                <nav class="navbar navbar-light" style="background-color: #fdfcfb;">
                    <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:bold;font-size:20px;color:#FF5A5F">NYC Airbnb Data Analysis</h3>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/graphs">Graphs</a>
                                <a class="nav-link" href="/interactive">Interactive</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            
            <!-- End of Topbar -->
                                <!--  <div class="grid">
                                    <div class="grid-item">...</div>
                                    <div class="grid-item grid-item--width2">...</div>
                                    <div class="grid-item">...</div>
                                    ...
                                </div>--> 

            
            
                <!-- Begin Page Content -->
 
                <!-- Content Row -->
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>
                        
                       <!--  # of BOROUGHS -->
                        <div class="grid-item">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Total # of NYC Boroughs</h3>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">5
                                                    <div class="col-auto">
                                                        <i class="fas fa-map fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div> 

                        <!-- # of NEIGHBOURHOODS -->
                        <div class="grid-item">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Total # of NYC Neighbourhoods</h3>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">230
                                                    <div class="col-auto">
                                                        <i class="fas fa-map-pin fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>


                    
                        <!-- # of ROOM TYPES -->
                        <div class="grid-item">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Total # of NYC Room Types</h3>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">4
                                                    <div class="col-auto">
                                                        <i class="fas fa-comments fa-hotel text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       

                    
                        <!-- GRAPHS -->
                        <!-- Line Plot-->
                        <div class="grid-item">  
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Average Rates by Year</h3>
                                        <div class="card-body">
                                            <a href = "/graphs"><img src="/static/css/lineplot.png" alt="Yearly Average Rate" width = 250 height = 150></a>
                                        </div>
                                </div>
                            </div>
                        </div>         
                            
                        <!-- Pie Graph-->
                        <div class="grid-item grid-item--width2">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Room Type Distribution</h3>
                                        <div class="card-body">
                                            <a href = "/graphs"><img src="/static/css/piegraph.png" alt="Room Type Distribution" width = 250 height = 150></a>
                                        </div>
                                </div>
                            </div>
                        </div>      

                        <!-- # of LISTINGS -->
                        <div class="grid-item">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Total # of Listings</h3>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">36,923
                                                            <div class="col">
                                                                <div class="col-auto">
                                                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </div>       
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bar Graph-->
                        <div class="grid-item">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Most Reviewed Neighbourhoods</h3>
                                        <div class="card-body">
                                            <a href = "/graphs"><img src="/static/css/barplot.png" alt="Most Reviewed Neighbourhoods" width = 250 height = 150></a>
                                        </div>
                                </div>
                            </div>
                        </div>         

                        <!-- Bubble Chart-->
                        <div class="grid-item">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Top 5 Superhosts Neighbourhoods</h3>
                                        <div class="card-body">
                                            <a id ="bubble" href ="/graphs"><img src="/static/css/bubblechart.png" alt="Top 5 Superhosts by Neighbourhoods" width = 250 height = 150></a>
                                        </div>
                                </div>
                            </div>
                        </div>          
                    
                        <!-- Marker Cluster -->
                        <div class="grid-item">
                            <div class="card shadow mb-8">
                                <div class="card-header py-3">
                                    <h3 style="font-family:'Airbnb Cereal App Light'; font-weight:normal;font-size:20px;color:#FF5A5F">Interactive Map</h3>
                                        <div class="card-body">
                                            <div id ="map" class="text-center chart-pie pt-4 pb-2" >
                                            <div class="card-body">
                                                    <div class="text-center">
                                                        <div id="map-int"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
            
        </div>
    
</body>
    

<!-- D3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>


 <!-- Marker Cluster JS 
 <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>-->

<!-- Icons -->
<!--  <script src="../static/js/leaflet.extra-markers.min.js"></script>-->

<!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
 
<!-- Our JavaScript -->
<script type="text/javascript" src="../static/js/logic.js"></script>
<script type="text/javascript" src="../static/js/graphs.js"></script>
<script type="text/javascript" src="../static/js/interactive.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
